{{#section 'js'}}
<script type="text/javascript">

    $('.addItem').on('click', function () {
        var id = $(this).data('proid');
        $('#txtP').val(id);
        $('#txtQ').val(1);
        $('#frmAddItem').submit();
    });
</script> {{/section}}

<!-- Body -->
<div class="container">


    <form id="frmAddItem" method="post" action="/cart/add">
        <input type="hidden" name="proId" id="txtP">
        <input type="hidden" name="quantity" id="txtQ">
    </form>
    <div class="col-lg-10 col-lg-offset-1 header-row">
        <div class="row food-info">
            <div class="food-head">
                <div class="col-lg-6" style="padding-top: 32px; padding-bottom: 32px;">
                    <img src={{product.thumbnail}} class="img-responsive center-block wine-img-style" style="max-height: 400px; margin: 0 auto;"
                    />
                </div>
                <div class="col-lg-6">
                    <h3 style="text-align: center">{{product.productName}}</h3>
                    <p>
                        <strong>
                            <i class="fa fa-leaf" aria-hidden="true"></i> Mô tả</strong>: {{product.description}}</p>
                    <p>
                        <strong>
                            <i class="fa fa-dollar" aria-hidden="true"></i> Giá bán</strong>: {{product.price}}</p>
                    <p>
                        <strong>
                            <i class="fa fa-eye" aria-hidden="true"></i> Lượt xem</strong>: {{product.view}} lượt</p>
                    <p>
                        <strong>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Lượt mua</strong>: {{product.purchases}} lượt</p>
                    <p>
                        <strong>
                            <i class="fa fa-tag" aria-hidden="true"></i> Loại rượu</strong>: {{product.category}}</p>
                    <p>
                        <strong>
                            <i class="fa fa-diamond" aria-hidden="true"></i> Nhà sản xuất</strong>: {{product.brand}}</p>

                    {{#if layoutVM.isLogged}}
                    <a data-proid="{{product.productId}}" href="javascript:;" class="btn btn-success btn-lg addItem" style="width: 100%;">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        Đặt hàng
                    </a>
                    {{/if}}
                </div>
            </div>
        </div>

        <!-- Sản phẩm cùng hãng -->
        <hr class="hr-text" data-content="Sản phẩm cùng hãng">
        <div class="row">
            <div class="col-md-12">
                <div id="Carousel" class="carousel my-carousel slide carousel-fade">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                {{#each product.products_by_brand}}
                                <div class="col-md-3" style="height: 500px;">
                                    <a href="/_san_pham/san_pham?id={{productId}}" class="thumbnail thumbnail-carousel m-b-2">
                                        <img alt="Image" src="{{thumbnail}}" class="img-responsive" style="width: 236px; height: 295px;">
                                        <div class="caption">
                                            <h4>{{productName}}</h4>
                                            <p>
                                                <i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: {{price}} VND</p>
                                        </div>
                                        {{#if ../layoutVM.isLogged}}
                                        <a data-proid="{{productId}}" href="javascript:;" class="btn btn-default addItem" style="width: 100%;">
                                            <span class="glyphicon glyphicon-shopping-cart"></span>
                                            Đặt hàng
                                        </a>
                                        {{/if}}
                                    </a>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                <!--.Carousel-->
            </div>
        </div>
        <!-- End Sản phẩm cùng hãng -->

        <!-- Sản phẩm cùng loại -->
        <hr class="hr-text" data-content="Sản phẩm cùng loại">
        <div class="row">
            <div class="col-md-12">
                <div id="Carousel-1" class="carousel my-carousel slide carousel-fade">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                {{#each product.products_by_cat}}
                                <div class="col-md-3" style="height: 500px;">
                                    <a href="/_san_pham/san_pham?id={{productId}}" class="thumbnail thumbnail-carousel m-b-2">
                                        <img alt="Image" src="{{thumbnail}}" class="img-responsive" style="width: 236px; height: 295px;">
                                        <div class="caption">
                                            <h4>{{productName}}</h4>
                                            <p>
                                                <i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: {{price}} VND</p>
                                        </div>
                                        {{#if ../layoutVM.isLogged}}
                                        <a data-proid="{{productId}}" href="javascript:;" class="btn btn-default addItem" style="width: 100%;">
                                            <span class="glyphicon glyphicon-shopping-cart"></span>
                                            Đặt hàng
                                        </a>
                                        {{/if}}
                                    </a>
                                </div>
                                {{/each}}
                            </div>
                            <!--.row-->
                        </div>
                    </div>
                    <!--.carousel-inner-->
                </div>
                <!--.Carousel-->
            </div>
        </div>
        <!-- End Sản phẩm cùng loại -->
    </div>
</div>
<!-- End body -->