{{#section 'js'}}
<script type="text/javascript">
	$('.addItem').on('click', function() {
	    var id = $(this).data('proid');
	    $('#txtP3').val(id);
	    $('#txtQ3').val(1);
	    $('#frmAddItem3').submit();
	});
</script>
{{/section}}


<!-- Body -->
<div class="container">
    <form id="frmAddItem3" method="post" action="/cart/add">
		<input type="hidden" name="proId" id="txtP3">
		<input type="hidden" name="quantity" id="txtQ3">
	</form>
    <div class="col-lg-10 col-lg-offset-1">
        <!-- Hiển thị thông tin tìm kiếm ở đây -->

        <div class="row">
            <h4 style="padding-top: 160px">
                <b> Tìm kiếm nâng cao</b>
            </h4>
            <form action="/_tim_kiem/tim_kiem" method="post">
                <div class="col-md-12 list-search">
                    <div class="form-group search-item">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-book" aria-hidden="true"></i>
                            </div>
                            <input type="text" class="form-control" placeholder="Tên sản phẩm" name="wineName">
                        </div>
                    </div>
                    <div class="form-group search-item">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-gg" aria-hidden="true"></i>
                            </div>
                            <input type="number" class="form-control" placeholder="Giá tiền" name="winePrice">
                        </div>
                    </div>
                    <div class="form-group search-item">
                        <select class="form-control " style="min-width: 175px" name="wineBrand">
                            <option value="0">Nhà sản xuất</option>
                            <option value="1">Chivas</option>
                            <option value="2">Hennessy</option>
                            <option value="3">Johnie Walker</option>
                            <option value="4">Re'my Martin</option>
                        </select>
                    </div>
                    <div class="form-group search-item">
                        <select class="form-control " style="min-width: 175px" name="wineType">
                            <option value="0">Loại rượu</option>
                            <option value="1">Vodka</option>
                            <option value="2">Rum</option>
                            <option value="3">Champagne</option>
                            <option value="4">Whisky</option>
                        </select>
                    </div>
                    <div class="form-group search-item">
                        <button class="btn btn-primary" style="min-width: 120px" type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <b>Search</b>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <hr>
        <!-- Hiển thị kết quả tìm kiếm ở đây-->
        <div class="row">
            {{#each products}}
            <div class="col-md-3" style="height: 500px;">
                <a href="/_san_pham/san_pham?id={{productId}}" class="thumbnail thumbnail-carousel" style="margin-bottom: 2px;">
                    <img alt="Image" src="{{thumbnail}}" class="img-responsive" style="width: 236px; height: 295px;">
                    <div class="caption">
                        <h4>{{productName}}</h4>
                        <p>
                            <i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: {{price}} VND</p>
                    </div>
                    {{#if ../layoutVM.isLogged}}
                    <a data-proid="{{productId}}" href="javascript:;" class="btn btn-default addItem" style="width: 100%;">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        Đặt hàng
                    </a>
                    {{/if}}
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<!-- End body -->