{{#section 'js'}}
<script>
    Handlebars.registerHelper('ifCond', function (v1, v2, options) {
        if (v1 === v2) {
            return options.fn(this);
        }
        return options.inverse(this);
    });
</script> {{/section}}
<!-- Body -->
<div class="container">
    <div class="col-lg-10 col-lg-offset-1 header-row">
        <h4 style="padding-top: 14px"> Thông tin khách hàng </h4>
        <hr>
        <form class="form-horizontal" action="/customer/change-info" method="post">
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="phoneNumber">Số điện thoại</label>
                <div class="col-md-6">
                    <input id="phoneNumber" name="phoneNumber" value={{currentUser.phone}} type="text" placeholder="" class="form-control input-md"
                        required="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="name">Họ và tên</label>
                <div class="col-md-6">
                    <input id="name" name="name" value={{currentUser.name}} type="text" class="form-control input-md" required="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="gender">Giới tính</label>
                <div class="col-md-2">
                    <select id="gender" name="gender" class="form-control">
                        <option value={{currentUser.genre}}>{{currentUser.genre}}</option>
                        {{#ifCond currentUser.genre "Nam"}}
                        <option value="Nữ">Nữ</option>
                        {{else}}
                        <option value="Nam">Nam</option>
                        {{/ifCond}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="location">Địa chỉ</label>
                <div class="col-md-6">
                    <textarea id="location" name="location" class="form-control input-md" required="">{{currentUser.address}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div style="text-align: center">
                    <button class="btn btn-info btn-register" type="submit">Thay đổi thông tin</button>
                    <!-- Khi chọn thay đổi thông tin thì unlock hết các thuộc tính disable đi
                    và ẩn button thay đổi mật khẩu để người dùng đổi thông tin-->
                    <a class="btn btn-warning btn-register" href="change-password.html" disabled>Thay đổi mật khẩu</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End body -->