{{#section 'js'}}
<script type="text/javascript">
	$('.addItem').on('click', function() {
	    var id = $(this).data('proid');
	    $('#txtP').val(id);
	    $('#txtQ').val(1);
	    $('#frmAddItem').submit();
	});
</script>
{{/section}}

<div class="container">
    <form id="frmAddItem" method="post" action="/cart/add">
		<input type="hidden" name="proId" id="txtP">
		<input type="hidden" name="quantity" id="txtQ">
	</form>
    <!-- Top slide -->
    <div class="header-row row">
        <div id="top-slide" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators my-carousel-indicators">
                <li data-target="#top-slide" data-slide-to="0" class="active"></li>
                <li data-target="#top-slide" data-slide-to="1"></li>
                <li data-target="#top-slide" data-slide-to="2"></li>
            </ol>
            <div class='carousel-inner' role='listbox'>
                <div class='item item-top-slide active'>
                    <img class="img-responsive" src='/introduce_images/gioi-thieu-01.jpg' alt='doan'>
                    <div class='carousel-caption'>
                        <h1>Hennessy</h1>
                    </div>
                </div>
                <div class='item item-top-slide'>
                    <img class="img-responsive" src='/introduce_images/gioi-thieu-02.jpg' alt='doan'>
                    <div class='carousel-caption'>
                        <h1>Chivas</h1>
                    </div>
                </div>
                <div class='item item-top-slide'>
                    <img class="img-responsive" src='/introduce_images/gioi-thieu-03.jpg' alt='doan'>
                    <div class='carousel-caption'>
                        <h1>Johnie Walker</h1>
                    </div>
                </div>
                <div class='item item-top-slide'>
                    <img class="img-responsive" src='/introduce_images/gioi-thieu-04.jpg' alt='doan'>
                    <div class='carousel-caption'>
                        <h1>Red Vin</h1>
                    </div>
                </div>
            </div>

            <a class='left carousel-control' href='#top-slide' role='button' data-slide='prev'>
                <span class='glyphicon glyphicon-chevron-left' aria-hidden='true'></span>
            </a>

            <a class='right carousel-control' href='#top-slide' role='button' data-slide='next'>
                <span class='glyphicon glyphicon-chevron-right' aria-hidden='true'></span>
            </a>
        </div>
    </div>
    <!-- End top slide -->

    <!-- Top 10 sản phẩm mới nhất -->
    <hr class="hr-text" data-content="Sản phẩm mới nhất">
    <div class="row">
        <div class="col-md-12">
            <div id="Carousel" class="carousel my-carousel slide carousel-fade">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row" >
                            {{#each layoutVM.products}}
                            <div class="col-md-3 m-b-10">
                                <a href="/_san_pham/san_pham?id={{productId}}" class="thumbnail thumbnail-carousel m-b-2">
                                    <img alt="Image" src="{{thumbnail}}"
                                         class="img-responsive" style="width: 236px; height: 295px;">
                                    <div class="caption">
                                        <h4>{{productName}}</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: {{price}} VND</p>
                                    </div>
                                    {{#if ../layoutVM.isLogged}}
                                    <a data-proid="{{productId}}" href="javascript:;" class="btn btn-default addItem" style="width: 100%;">
                                        <span class="glyphicon glyphicon-shopping-cart"></span>
                                        Đặt hàng
                                    </a>
                                    {{/if}}
                                </a>
                            </div>
                            {{/each}}
                        </div>
                        <!--.row-->
                    </div>
                </div>
            </div>
            <!--.Carousel-->
        </div>
    </div>
    <!-- End 10 sản phẩm mới nhất -->

    <!-- Top 10 sản phẩm bán chạy -->
    <hr class="hr-text" data-content="Sản phẩm bán chạy">
    <div class="row">
        <div class="col-md-12">
            <div id="Carousel-1" class="carousel my-carousel slide carousel-fade">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            {{#each layoutVM.products}}
                            <div class="col-md-3 m-b-10">
                                <a href="/_san_pham/san_pham?id={{productId}}" class="thumbnail thumbnail-carousel m-b-2">
                                    <img alt="Image" src="{{thumbnail}}"
                                         class="img-responsive" style="width: 236px; height: 295px;">
                                    <div class="caption">
                                        <h4>{{productName}}</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: {{price}} VND</p>
                                    </div>
                                    {{#if ../layoutVM.isLogged}}
                                    <a data-proid="{{productId}}" href="javascript:;" class="btn btn-default addItem" style="width: 100%;">
                                        <span class="glyphicon glyphicon-shopping-cart"></span>
                                        Đặt hàng
                                    </a>
                                    {{/if}}
                                </a>
                            </div>
                            {{/each}}
                        </div>
                        <!--.row-->
                    </div>
                </div>
            </div>
            <!--.Carousel-->
        </div>
    </div>
    <!-- End 10 sản phẩm bán chạy -->

    <!-- Top sản phẩm xem nhiều nhất -->
    <hr class="hr-text" data-content="Sản phẩm xem nhiều">
     <div class="row">
        <div class="col-md-12">
            <div id="Carousel-2" class="carousel my-carousel slide carousel-fade">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            {{#each layoutVM.products}}
                            <div class="col-md-3 m-b-10">
                                <a href="/_san_pham/san_pham?id={{productId}}" class="thumbnail thumbnail-carousel m-b-2">
                                    <img alt="Image" src="{{thumbnail}}"
                                         class="img-responsive" style="width: 236px; height: 295px;">
                                    <div class="caption">
                                        <h4>{{productName}}</h4>
                                        <p><i class="fa fa-tag" aria-hidden="true"></i> &nbsp Giá: {{price}} VND</p>
                                    </div>
                                    {{#if ../layoutVM.isLogged}}
                                    <a data-proid="{{productId}}" href="javascript:;" class="btn btn-default addItem" style="width: 100%;">
                                        <span class="glyphicon glyphicon-shopping-cart"></span>
                                        Đặt hàng
                                    </a>
                                    {{/if}}
                                </a>
                            </div>
                            {{/each}}
                        </div>
                        <!--.row-->
                    </div>
                </div>
            </div>
            <!--.Carousel-->
        </div>
    </div>
    <!-- End Top sản phẩm xem nhiều nhất -->
</div>
<!-- End body -->
