{{#section 'js'}}
<script type="text/javascript">
	$('.plusItem').on('click', function() {
	    var id = $(this).data('proid');
	    $('#txtPP').val(id);
	    $('#txtPQ').val(1);
	    $('#frmPlusItem').submit();
	});
    $('.minusItem').on('click', function() {
	    var id = $(this).data('proid');
	    $('#txtMP').val(id);
	    $('#txtMQ').val(1);
	    $('#frmMinusItem').submit();
	});
    $('.removeItem').on('click', function() {
	    var id = $(this).data('proid');
	    $('#txtRP').val(id);
	    $('#frmRemoveItem').submit();
	});
    $('.checkoutCart').on('click', function() {
	    $('#frmCheckout').submit();
	});
</script>
{{/section}}
<div class="container" style="margin-bottom: 150px;">
    <form id="frmPlusItem" method="post" action="/cart/add">
		<input type="hidden" name="proId" id="txtPP">
		<input type="hidden" name="quantity" id="txtPQ">
	</form>
    <form id="frmMinusItem" method="post" action="/cart/reduce">
		<input type="hidden" name="proId" id="txtMP">
		<input type="hidden" name="quantity" id="txtMQ">
	</form>
    <form id="frmRemoveItem" method="post" action="/cart/remove">
		<input type="hidden" name="proId" id="txtRP">
	</form>
    <form id="frmCheckout" method="post" action="/cart/checkout">
	</form>
    <div class="row header-row">
        <div class="col-lg-10 col-lg-offset-1">
            <h4 style="padding-top: 14px"> <b>Thông tin giỏ hàng</b> </h4>
            <hr>
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>Món ăn</th>
                    <th>Số lượng</th>
                    <th class="text-center">Đơn giá</th>
                    <th class="text-center">Tổng giá</th>
                    <th class="text-center">Xóa</th>
                </tr>
                </thead>
                <tbody>
                {{#each carts}}
                <tr>
                    <td class="col-md-4">
                        <div class="media">
                            <a class="pull-left" href="#"> 
                                <img class="media-object" src="{{product.thumbnail}}" style="width: 100px; height: auto;"> 
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading cart-text-padding-top"><a href="#">{{product.productName}}</a></h4>
                            </div>
                        </div>
                    </td>
                    <td class="col-md-2" style="text-align: center">
                        <a data-proid="{{product.productId}}" href="javascript:;" class="btn btn-default minusItem">
                            <span class="glyphicon glyphicon-minus"></span>
                        </a>
                        <span style="font-weight: bold; margin: 15px; font-size: 20px;">{{quantity}}</span>  
                        <a data-proid="{{product.productId}}" href="javascript:;" class="btn btn-default plusItem">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </td>
                    <td class="col-md-1 text-center" id="price"><p class="cart-text-padding-top"><b>{{product.price}}</b></p></td>
                    <td class="col-md-2 text-center" id="priceFood"><p class="cart-text-padding-top"><b>{{price}}</b></p></td>
                    <td class="col-md-1 text-center">
                        <a data-proid="{{product.productId}}" href="javascript:;" class="btn btn-danger removeItem">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
                {{/each}}
                <tr>
                    <td colspan="3"><h4><b>Thành tiền</b></h4></td>
                    <td class="text-center"><h4><strong>{{totalPrice}}</strong></h4></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            {{#if showError}}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Lỗi !</strong> {{errorMsg}}
            </div>
            {{/if}}
            {{#if showResult}}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Thành công!</strong> {{resultMsg}}
            </div>
            {{/if}}
            <div class="pull-right" style="margin-bottom: 20px">
                <a href="javascript:;" class="btn btn-success btn-lg checkoutCart">
                    <span class="glyphicon glyphicon-book"></span>
                    Thanh toán
                </a>
            </div>

        </div>
    </div>
</div>
<!-- End body -->